.sidebar__menu__item {
  border: none;
  outline: none;
  background: none;

  cursor: pointer;
  border-radius: 15.5px;

  font-family: Avenir Roman;
  font-size: 20px;
  line-height: 27px;
  color: white;
  text-transform: capitalize;
  text-align: left;

  min-width: 175px;
  padding: 12px 0 12px 30px;
  box-sizing: border-box;
}

.sidebar__menu__item--active {
  background-color: rgba(252,128,116,0.2);
  color: #FC8074;
}