.home-page {
  width: 100vw;
  height: 100vh;
  z-index: 100;

  background-color: #1F1B33;
  overflow: hidden;
}

.home-page__content-container {
  padding: 43px 0 0 36px;
  box-sizing: border-box;;

  width: 100vw;
  height: 100vh;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: auto;
}

.home-page__content-container--sidebar-open {
  transform: rotate(-7deg);
  left: 253px;
}